$MAIN_PURPLE: #7a5af8;
$MAIN_WHITE: #ffffff;
$MAIN_BLACK: #000000;

// ALPHA_WHITE
$ALPHA_WHITE_01: #ffffff1a;
$ALPHA_WHITE_03: #ffffff4d;
$ALPHA_WHITE_05: #ffffff80;

// ALPHA_BLACK
$ALPHA_BLACK_02: #00000033;
$ALPHA_BLACK_03: #0000004d;

// GRAY_COOL
$GRAY_COOL: #dcdfea;
$GRAY_COOL_200: #dcdfea;
$GRAY_COOL_300: #b9c0d4;
$GRAY_COOL_400: #7d89b0;
$GRAY_COOL_500: #5d6b98;
$GRAY_COOL_800: #30374f;
$GRAY_COOL_900: #111322;

// ORANGE
$ORANGE_DARK: #ff692e;
$ORANGE_300: #f7b27a;
$ORANGE_400: #f38744;

// YELLOW
$YELLOW_100: #fef7c3;
$YELLOW_300: #fde272;
$YELLOW_500: #eaaa08;
$YELLOW_900: #713b12;

// SUCCESS
$SUCCESS_200: #a6f4c5;
$SUCCESS_500: #ecfdf3;
$SUCCESS_900: #054f31;

// breakpoints
$mobile: 576px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1440px;
