$MAIN_PURPLE: #7a5af8;
$MAIN_WHITE: #ffffff;
$MAIN_BLACK: #000000;

// GRAY_COOL
$GRAY_COOL: #dcdfea;
$GRAY_COOL_500: #5d6b98;
$GRAY_COOL_800: #30374f;

// ALPHA_WHITE
$ALPHA_WHITE_01: #ffffff1a;
$ALPHA_WHITE_03: #ffffff4d;
$ALPHA_WHITE_05: #ffffff80;

// ALPHA_BLACK
$ALPHA_BLACK_03: #0000004d;
