@import "../../../../app/variables";

.container {
  flex: 1 1 30%;
  min-height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $MAIN_WHITE;
  border: 1px solid $MAIN_WHITE;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;

    .title {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h1 {
        font-size: 72px;
        font-weight: 800;
        line-height: 64px;
        letter-spacing: -0.04em;
      }

      span {
        font-size: 32px;
        font-weight: 500;
        line-height: 40px;
      }
    }

    button {
      width: 200px;
    }
  }
}
