@use "../../../app/variables" as *;

.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $GRAY_100;

  @media screen and (max-width: $mobile) {
    padding: 2.5rem 0;
  }

  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2.5rem;

    .marquee {
      gap: 1rem;
    }

    @media screen and (max-width: $mobile) {
      text-align: left;
      align-items: flex-start;
    }

    .header {
      @media screen and (max-width: $mobile) {
        width: 60%;
        padding-left: 1rem;
      }

      .title {
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.08em;
      }

      .offer {
        font-family: "thiccboi-bold", sans-serif;
        font-size: 72px;
        line-height: 80px;
        letter-spacing: -0.04em;
        background: -webkit-linear-gradient(90deg, #f04438 0%, #9e2929 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media screen and (max-width: $mobile) {
          font-size: 2rem;
          line-height: 2.5rem;
        }
      }

      .subtitle {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
      }
    }

    .cards_wrapper {
      max-width: 100%;

      .cards {
        display: flex;
        align-items: center;
        gap: 1rem;
        overflow: hidden;
      }
    }

    button {
      @media screen and (max-width: $mobile) {
        position: absolute;
        top: 3.5rem;
        right: 1rem;
      }
    }
  }
}
