@use "../../../app/variables" as *;

.container {
  width: 100%;
  height: 40vh;
  background-color: $GREEN_DARK;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $mobile) {
    height: max-content;
    padding: 4rem 1rem;
  }

  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $MAIN_WHITE;

    h2 {
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      letter-spacing: 0.04em;
      text-align: center;
      margin-bottom: 0.5rem;

      @media screen and (max-width: $mobile) {
        font-size: 24px;
        line-height: 32px;
      }
    }

    h4 {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      text-align: center;
      margin-bottom: 2.5rem;
    }

    .emailBox {
      width: 30%;
      height: 3rem;
      padding: 1rem 0.5rem;
      border: 1px solid $GREEN_DARK;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $MAIN_WHITE;
      color: $MAIN_BLACK;
      border-radius: 0.25rem;

      @media screen and (max-width: $mobile) {
        width: 85%;
      }

      .letterIcon {
        height: 1rem;
      }

      input {
        width: 100%;
        padding-left: 1rem;
        height: inherit;
        outline: none;
        border: none;
        background-color: transparent;

        &::placeholder {
          color: $GREEN_DARK;
        }
      }

      button {
        height: 2rem;
        width: 2rem;
        outline: none;
        border: none;
        background-color: transparent;
        background: $GRAY_COOL_900;
        color: $MAIN_WHITE;
        border-radius: 0.25rem;
        cursor: pointer;
      }
    }
  }
}
